{% extends 'base.html' %}

{% load crispy_forms_tags %}


 {% block content %}
  <!--Main layout-->
  <main >
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

           {% comment "commnet1" %}
            <form method='POST' >
                   {% csrf_token %}
                   {{ form|crispy }}
              <button class="btn btn-primary  " type="submit">Continue </button>
            </form>
            {% endcomment %}

            <form method="POST" class="card-body">
              <!--address-->
                   {% csrf_token %}

              <h3>Shipping address</h3>
              <!-- shipping form-->
              <div class='hideable_shipping_form'>

                <div class="md-form mb-5">
                  <input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address' class='form-control' />
                  <label for="shipping_address" class="">Address</label>
                </div>
                <div class="md-form mb-5">
                  <input type='text' placeholder='optional shipping address' id='shipping_address2' name='shipping_address2' class='form-control' />
                  <label for="shipping_address2" class="">Address 2 (optional)</label>
                </div>


                <div class="row">

                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="country">Country</label>
                    {{ form.shipping_country }}
                    <div class="invalid-feedback">
                      Country required.
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="shipping_zip">Zip </label>
                    <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' />
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                  </div>
                </div>
                <hr>
              </div>

              <!-- checkbox -->
                <div id="div_id_same_billing_address" class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="same_billing_address" id="same_billing_address">
                  <label for="same_billing_address" class="custom-control-label">Billing address is the Sameas my shipping address</label>
                </div>
                <div id="div_id_save_info" class="custom-control custom-checkbox">
                  <input  type="checkbox" name="set_default_shipping" class="custom-control-input" id="set_default_shipping">
                  <label for="set_default_shipping" class="custom-control-label">Save address info </label>
                </div>
              {% if default_shipping_address %}
                <div id="div_id_save_info" class="custom-control custom-checkbox">
                  <input  type="checkbox" name="use_default_shipping" class="custom-control-input" id="use_default_shipping">
                  <label for="use_default_shipping" class="custom-control-label">Use defaul shipping address: {{ default_shipping_address.street_address|truncatechars:10 }} </label>
                </div>
              {% endif %}
              <!-- /checkbox -->

              <!--/ shipping form-->

              {% comment %}  billing address {% endcomment %}
              <hr>
              <h3>Billing address</h3>
              <!-- shipping form-->
              <div class='hideable_billing_form'>

                <div class="md-form mb-5">
                  <input type='text' placeholder='1234 Main St' id='billing_address' name='billing_address' class='form-control' />
                  <label for="shipping_address" class="">Address</label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' placeholder='optional billing address' id='billing_address2' name='billing_address2' class='form-control' />
                  <label for="shipping_address2" class="">Address 2 (optional)</label>
                </div>

                <div class="row">

                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="country">Country</label>
                    {{ form.billing_country }}
                    <div class="invalid-feedback">
                      Country required.
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="billing_zip ">Zip</label>
                    <input type='text' placeholder='Zip code' id='billing_zip' name='billing_zip' class='form-control' />
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                  </div>
                </div>

              </div>
                <!-- checkboxes -->
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
                  <label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
                </div>

              {% if default_billing_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing">
                <label class="custom-control-label" for="use_default_billing">use default biiling address: {{ default_billing_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %}
              <!-- end checkboxes -->

              <!--/ shipping form-->

              {% comment %} end billing address {% endcomment %}
              {% comment %}
              <hr>
                <div class="d-block my-3">
                  {% for value, name in form.fields.payment_option.choices %}
                  <div class="custom-control custom-radio">
                    <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                  </div>
                  {% endfor %}
                </div>
              <hr class="mb-4">
              {% endcomment %}
              <!--Grid row-->
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg " type="submit">Continue to payment</button>

            </form>

          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ order.items.count }}</span>
          </h4>
          <!-- /Heading -->

          <!-- Cart -->

          {% include 'table-products-1.html' %}

          <!-- Cart -->


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
 {% endblock content %}


{% block extra_script %}
  <script>

    var hideable_shipping_form = $('.hideable_shipping_form')
    var hideable_billing_form = $('.hideable_billing_form')

    var use_default_shipping = document.querySelector("input[name=use_default_shipping]")
    var use_default_billing = document.querySelector("input[name=use_default_billing]")

    use_default_shipping.addEventListener('change', function(){
      if (this.checked){
        hideable_shipping_form.hide();
      } else {
        hideable_shipping_form.show();
      }
    })

    use_default_billing.addEventListener('change', function(){
      if (this.checked){
        hideable_billing_form.hide();
      } else {
        hideable_billing_form.show();
      }
    })


  </script>

{% endblock extra_script %}
